* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

.contents {
  position: relative;
  width: 300px;
  border: 1px solid #F9F9F9;
  padding: 10px;
  float: left;
  margin-right: 30px;
}

.contents:last-child {
  margin: 0;
}

.contents > span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  background-color: #FF9A4B;
  color: white;
}

.step1-image {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step2-image {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step3-image {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.contents-title {
  padding: 10px 0;
  font-size: 20px;
}

@media screen and (max-width:768px) {
  main {
    width: 100%;
  }

  .contents {
    width: 90%;
    float: none;
    margin: 0 auto 20px auto;
  }

  .contents:last-child {
    margin: 0 auto 0 auto;
  }
}